<div class="row">
  <h1>Blogging Out Loud</h1>
</div>

<%= render partial: "filter" %>

<div class="row">
  <% @posts.each do |post| %>
    <div class="post" data-title="<%= post.title %>" data-author="<%= post.author %>">
    <h3><%= link_to post.title, post_path(post) %></h3>
    <h6>by: <em><%= post.author.capitalize %></em></h6>
    <hr>
    </div>
  <% end %>
</div>
