<div class="row" data-id="<%= @post.id %>">
  <h3><%= @post.title %></h3>
  <p>by: <em><strong><%= @post.author.capitalize %></strong></em></p>
  <p><%= markdown(@post.body) %></p>
</div>


<% if @post.published? %>
  <hr>

  <%= render partial: 'comments/new_comment_form' %>

  <div class="comments">
    <div class="row">
      <h4>Comments</h4>
      <% @post.comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: { post: @post, comment: comment } %>
      <% end %>
    </div>
  </div>

<% else %>
  <div class="row">
  <%= link_to "Publish", post_path(@post), method: :put %>
  </div>
<% end %>
